Repository 073x/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @bsclifton, @kylehickinson, @mihaiplesa, @NejcZdovc, @tmancey, @iefremov

AI Chat: default temperature change to 0.2
  components/ai_chat/common/features.cc
Owners: none

Support urls in config
  tools/perf/components/browser_type.py
  tools/perf/components/perf_test_utils.py
  tools/perf/run_dashboard_perftests.py
Owners: none

Rework passing config & targets
  build/commands/lib/perfTests.js
  build/commands/scripts/commands.js
  tools/perf/components/common_options.py
  tools/perf/perf_compare.py
  tools/perf/run_dashboard_perftests.py
Owners: none

Fix creating working dir
  tools/perf/run_dashboard_perftests.py
Owners: none

Support compare builds
  tools/perf/components/browser_type.py
  tools/perf/components/common_options.py
  tools/perf/components/perf_test_utils.py
  tools/perf/run_dashboard_perftests.py
Owners: none

Fix reporting
  tools/perf/components/common_options.py
  tools/perf/components/perf_test_utils.py
  tools/perf/run_dashboard_perftests.py
Owners: none

Support URLs in location
  tools/perf/components/browser_binary_fetcher.py
  tools/perf/components/browser_type.py
  tools/perf/components/perf_test_utils.py
  tools/perf/run_dashboard_perftests.py
Owners: none

Fix path for mac Chrome for Testing
  tools/perf/components/browser_type.py
Owners: none

add assert
  tools/perf/components/browser_binary_fetcher.py
Owners: none

Allow WebBluetooth API to be enabled via brave://flags.
  app/brave_generated_resources.grd
  browser/about_flags.cc
  browser/brave_content_browser_client.cc
  chromium_src/.clangd
  chromium_src/chrome/browser/ui/views/device_chooser_content_view.cc
  chromium_src/components/permissions/bluetooth_chooser_controller.cc
  chromium_src/components/permissions/bluetooth_chooser_controller.h
  chromium_src/components/permissions/bluetooth_scanning_prompt_controller.cc
  chromium_src/components/permissions/bluetooth_scanning_prompt_controller.h
  chromium_src/components/permissions/chooser_controller.cc
  chromium_src/components/permissions/chooser_controller.h
  chromium_src/third_party/blink/common/features.cc
  chromium_src/third_party/blink/public/common/features.h
Owners: @bridiver

Add SIWEMessageParser for parsing and validating Sign-In with Ethereum message
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/siwe_message_parser.cc
  components/brave_wallet/browser/siwe_message_parser.h
  components/brave_wallet/browser/siwe_message_parser_unittest.cc
  components/brave_wallet/browser/test/BUILD.gn
  components/brave_wallet/common/brave_wallet.mojom
Owners: none

Refactor SignMessageRequest
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/DAppsMessageFragment.java
  browser/brave_wallet/brave_wallet_service_unittest.cc
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/brave_wallet/solana_provider_impl_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/async/hardware.ts
  components/brave_wallet_ui/components/extension/sign-panel/index.tsx
  components/brave_wallet_ui/panel/reducers/panel_reducer.ts
  components/brave_wallet_ui/stories/mock-data/mock-eth-requests.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
Owners: none

Propagate SIWEMessage and check chain id mismatch
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet/browser/siwe_message_parser.cc
  components/brave_wallet/browser/siwe_message_parser_unittest.cc
  components/brave_wallet/common/sign_message_request.mojom
  components/resources/wallet_strings.grdp
Owners: none

Informs to users about system location service
  app/brave_generated_resources.grd
  browser/brave_profile_prefs.cc
  browser/brave_tab_helpers.cc
  browser/geolocation/brave_geolocation_permission_context_delegate.cc
  browser/ui/BUILD.gn
  browser/ui/browser_dialogs.h
  browser/ui/geolocation/geolocation_accuracy_tab_helper.cc
  browser/ui/geolocation/geolocation_accuracy_tab_helper.h
  browser/ui/geolocation/geolocation_accuracy_utils_win.cc
  browser/ui/geolocation/geolocation_accuracy_utils_win.h
  browser/ui/geolocation/pref_names.h
  browser/ui/views/geolocation_accuracy_helper_dialog_view.cc
  browser/ui/views/geolocation_accuracy_helper_dialog_view.h
Owners: none

Add new deps for 6.0
  build/android/config.gni
  third_party/android_deps/BUILD.gn
  third_party/android_deps/libs/com_android_billingclient/billing-4.0.0.aar
  third_party/android_deps/libs/com_android_billingclient/billing-6.0.1.aar
Owners: none

Add missing deps for billing client
  build/android/config.gni
  third_party/android_deps/BUILD.gn
  third_party/android_deps/libs/com_google_android_datatransport_transport_api/README.chromium
  third_party/android_deps/libs/com_google_android_datatransport_transport_api/com_google_android_datatransport_transport_api.info
  third_party/android_deps/libs/com_google_android_datatransport_transport_api/transport-api-3.0.0.aar
  third_party/android_deps/libs/com_google_android_datatransport_transport_backend_cct/README.chromium
  third_party/android_deps/libs/com_google_android_datatransport_transport_backend_cct/com_google_android_datatransport_transport_backend_cct.info
  third_party/android_deps/libs/com_google_android_datatransport_transport_backend_cct/transport-backend-cct-3.1.9.aar
  third_party/android_deps/libs/com_google_android_datatransport_transport_runtime/README.chromium
  third_party/android_deps/libs/com_google_android_datatransport_transport_runtime/com_google_android_datatransport_transport_runtime.info
  third_party/android_deps/libs/com_google_android_datatransport_transport_runtime/transport-runtime-3.1.9.aar
  third_party/android_deps/libs/com_google_firebase_firebase_encoders/firebase-encoders-17.0.0.jar
  third_party/android_deps/libs/com_google_firebase_firebase_encoders_proto/firebase-encoders-proto-16.0.0.jar
Owners: none

Update existing changes with async query purchase function
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnParentActivity.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnApiResponseUtils.java
  android/java/org/chromium/chrome/browser/vpn/utils/InAppPurchaseWrapper.java
  build/android/config.gni
  third_party/android_deps/BUILD.gn
  third_party/android_deps/libs/com_google_android_datatransport_transport_api/README.chromium
  third_party/android_deps/libs/com_google_android_datatransport_transport_api/com_google_android_datatransport_transport_api.info
  third_party/android_deps/libs/com_google_android_datatransport_transport_api/transport-api-3.0.0.aar
  third_party/android_deps/libs/com_google_firebase_firebase_encoders/firebase-encoders-17.0.0.jar
  third_party/android_deps/libs/com_google_firebase_firebase_encoders_proto/README.chromium
Owners: none

Introduce IPFS promo infobar Resolves https://github.com/brave/brave-browser/issues/32010
  app/brave_generated_resources.grd
  browser/infobars/brave_ipfs_infobar_delegate.cc
  browser/infobars/brave_ipfs_infobar_delegate.h
  browser/infobars/sources.gni
  browser/ipfs/ipfs_tab_helper.cc
  browser/ipfs/ipfs_tab_helper.h
  browser/ipfs/ipfs_tab_helper_browsertest.cc
  browser/ipfs/test/BUILD.gn
  browser/ui/startup/brave_obsolete_system_infobar_delegate.cc
  browser/ui/startup/brave_obsolete_system_infobar_delegate.h
  browser/ui/views/infobars/brave_confirm_infobar.cc
  browser/ui/views/infobars/brave_confirm_infobar.h
  chromium_src/components/infobars/core/infobar_delegate.h
  components/infobars/core/brave_confirm_infobar_delegate.cc
  components/infobars/core/brave_confirm_infobar_delegate.h
  components/ipfs/ipfs_service.cc
  components/ipfs/pref_names.cc
  components/ipfs/pref_names.h
Owners: @bridiver

Enables AI on Android
  android/brave_java_resources.gni
  android/java/org/chromium/base/BraveFeatureList.java
  android/java/org/chromium/chrome/browser/appmenu/BraveTabbedAppMenuPropertiesDelegate.java
  android/java/res/drawable/ic_brave_ai.xml
  android/java/res/values/brave_ids.xml
  android/preprocess/xml/menu_main_menu_xml.py
  browser/about_flags.cc
  browser/brave_content_browser_client.cc
  browser/ui/BUILD.gn
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/webui/ai_chat/ai_chat_ui.cc
  chromium_src/chrome/browser/flags/android/chrome_feature_list.cc
  components/ai_chat/browser/ai_chat_tab_helper.cc
  components/ai_chat/common/buildflags/buildflags.gni
  components/resources/brave_components_resources.grd
  components/resources/brave_components_strings.grd
Owners: @bridiver

Use new Leo Variables
  browser/resources/settings/shortcuts_page/commands.tsx
  browser/resources/settings/shortcuts_page/components/Command.tsx
  browser/resources/settings/shortcuts_page/components/ConfigureShortcut.tsx
  browser/resources/settings/shortcuts_page/components/Keys.tsx
  browser/ui/color/playlist/playlist_color_mixer.cc
  components/ai_chat/resources/page/components/input_box/style.module.scss
  components/brave_rewards/resources/page/components/ads_control_view.style.ts
  components/brave_rewards/resources/shared/components/newtab/rewards_card.style.ts
  components/brave_rewards/resources/shared/components/onboarding/css_mixins.ts
  components/brave_rewards/resources/shared/components/onboarding/settings_opt_in_form.style.ts
  components/brave_rewards/resources/shared/components/wallet_card/wallet_card.style.ts
  components/brave_rewards/resources/tip_panel/components/amount_input.style.ts
  components/brave_rewards/resources/tip_panel/components/monthly_toggle.style.ts
  components/brave_rewards/resources/tip_panel/lib/button_mixins.ts
  components/brave_wallet_ui/components/buy-send-swap/select-currency-item/select-currency-item-styles.ts
  components/brave_wallet_ui/components/desktop/card-headers/shared-card-headers.style.ts
  components/brave_wallet_ui/components/desktop/inspect-nfts/inspects-nfts.styles.ts
  components/brave_wallet_ui/components/desktop/popup-modals/enable-nft-discovery-modal/enable-nft-discovery-modal.style.ts
  components/brave_wallet_ui/components/desktop/views/nfts/components/auto-discovery-empty-state/auto-discovery-empty-state.styles.tsx
  components/brave_wallet_ui/components/desktop/views/portfolio/components/buy-send-swap-deposit-nav/buy-send-swap-deposit-nav.style.ts
  components/brave_wallet_ui/components/desktop/wallet-nav/wallet-nav-button/wallet-nav-button.style.ts
  components/brave_wallet_ui/components/extension/buttons/nav-button/style.ts
  components/brave_wallet_ui/components/extension/connect-with-site-panel/connect-with-site-header/connect-with-site-header.style.ts
  components/brave_wallet_ui/components/extension/connect-with-site-panel/connect-with-site-panel.style.ts
  components/brave_wallet_ui/components/extension/connect-with-site-panel/permission-duration-dropdown/permission-duration-dropdown.style.ts
  components/brave_wallet_ui/components/shared/buy-option/buy-asset-option.styles.ts
  components/brave_wallet_ui/components/shared/tabs/tabs.styles.ts
  components/brave_wallet_ui/page/screens/shared-screen-components/tab-header/tab-header.style.ts
  components/playlist/browser/resources/components/playlistsCatalog.tsx
  components/speedreader/resources/panel/components/lists/style.ts
  components/speedreader/resources/panel/components/reader-mode-control/style.ts
  components/speedreader/resources/panel/components/tts-control/style.ts
  package-lock.json
  package.json
Owners: @NejcZdovc

Consistent Polymer Icon overriding
  browser/resources/settings/brave_overrides/config.ts
  browser/resources/settings/brave_overrides/index.ts
  browser/resources/settings/brave_overrides/iron_icon.ts
  browser/resources/settings/brave_overrides/privacy_page.ts
  browser/resources/settings/brave_overrides/settings_menu.ts
  browser/resources/settings/brave_overrides/site_details.ts
  browser/resources/settings/brave_overrides/site_settings_page.ts
  browser/resources/settings/brave_site_details/brave_site_details_permission.ts
  browser/resources/settings/sources.gni
  ui/webui/resources/BUILD.gn
  ui/webui/resources/leo/web_components.ts
  ui/webui/resources/polymer_overriding.ts
Owners: none

fix js tests on non en_US locales
  components/brave_wallet_ui/components/shared/locale-restricted/locale-restricted.test.tsx
Owners: none

Get brave-ui directly from npm via @brave/brave-ui and don't compile typescript in node_modules
  .storybook/webpack.config.js
  components/brave_wallet_ui/components/extension/shared-panel-styles.ts
  components/brave_wallet_ui/components/shared/style.tsx
  components/common/typescript.gni
  components/webpack/path-map.js
  components/webpack/webpack.config.js
  jest.config.js
  package-lock.json
  package.json
  third_party/npm_@brave_brave-ui/README.chromium
  tsconfig.json
Owners: none

Add P3A metrics for search conversion banner
  browser/brave_local_state_prefs.cc
  browser/search_engines/search_engine_tracker.cc
  chromium_src/chrome/browser/prefs/browser_prefs.cc
  components/brave_search_conversion/p3a.cc
  components/brave_search_conversion/p3a.h
  components/brave_search_conversion/p3a_unittest.cc
  components/brave_search_conversion/pref_names.h
  components/brave_search_conversion/types.h
  components/p3a/metric_names.h
Owners: @bridiver

Added date support to entry text
  components/ai_chat/browser/ai_chat_database.cc
  components/ai_chat/browser/ai_chat_database_unittest.cc
  components/ai_chat/common/mojom/ai_chat.mojom
Owners: none

Added AIChat storage
  browser/browser_context_keyed_service_factories.cc
  browser/ui/webui/ai_chat/ai_chat_ui.cc
  components/ai_chat/browser/BUILD.gn
  components/ai_chat/browser/ai_chat_database.cc
  components/ai_chat/browser/ai_chat_database.h
  components/ai_chat/browser/ai_chat_service.cc
  components/ai_chat/browser/ai_chat_service.h
  components/ai_chat/browser/ai_chat_service_factory.cc
  components/ai_chat/browser/ai_chat_service_factory.h
  components/ai_chat/common/mojom/ai_chat.mojom
Owners: none

Added a date check
  components/ai_chat/browser/ai_chat_database.cc
  components/ai_chat/browser/ai_chat_database_unittest.cc
Owners: none

Retire FromInternalValue API
  components/ai_chat/browser/ai_chat_database.cc
Owners: none

Added unittest
  components/ai_chat/browser/ai_chat_database_unittest.cc
  test/BUILD.gn
Owners: none

Refactored db interface
  components/ai_chat/browser/ai_chat_database.cc
  components/ai_chat/browser/ai_chat_database.h
  components/ai_chat/browser/ai_chat_database_unittest.cc
  components/ai_chat/common/mojom/ai_chat.mojom
Owners: none

Uplift of #19599 (squashed) to beta
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  browser/brave_rewards/android/brave_rewards_native_worker.cc
Owners: none

Move query filter code to components
  browser/net/BUILD.gn
  browser/net/brave_site_hacks_network_delegate_helper.cc
  browser/ui/BUILD.gn
  browser/ui/browser_commands.cc
  components/query_filter/BUILD.gn
  components/query_filter/utils.cc
  components/query_filter/utils.h
  components/query_filter/utilstest.cc
Owners: @iefremov

Move some query stripping logic to query_filter component
  browser/net/brave_site_hacks_network_delegate_helper.cc
  components/query_filter/utils.cc
  components/query_filter/utils.h
  components/query_filter/utilstest.cc
Owners: @iefremov

Fix for review
  components/query_filter/utils.cc
  components/query_filter/utils.h
Owners: none

Fix for review
  browser/net/brave_site_hacks_network_delegate_helper.cc
  browser/ui/browser_commands.cc
  components/query_filter/BUILD.gn
  components/query_filter/utils.cc
  components/query_filter/utils.h
  components/query_filter/utils_unittest.cc
  components/query_filter/utilstest.cc
Owners: @iefremov

Fix for review
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/browser/api/query_filter/BUILD.gn
  ios/browser/api/query_filter/headers.gni
  ios/browser/api/query_filter/query_filter_service.h
  ios/browser/api/query_filter/query_filter_service.mm
  ios/browser/api/url/BUILD.gn
  ios/browser/api/url/url_utils.h
  ios/browser/api/url/url_utils.mm
Owners: none

Fix for review
  ios/browser/api/query_filter/query_filter_service.h
  ios/browser/api/query_filter/query_filter_service.mm
Owners: none

Add query param stripping iOS APIs
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/browser/api/query_filter/BUILD.gn
  ios/browser/api/query_filter/headers.gni
  ios/browser/api/query_filter/query_filter_service.h
  ios/browser/api/query_filter/query_filter_service.mm
Owners: none

Remove brave privacy wrappers
  ios/BUILD.gn
  ios/browser/brave_privacy/BUILD.gn
  ios/browser/brave_privacy/brave_privacy_factory_wrappers.h
  ios/browser/brave_privacy/brave_privacy_factory_wrappers.mm
Owners: none

Cleanup
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/api/url_sanitizer/BUILD.gn
  ios/browser/api/url_sanitizer/headers.gni
  ios/browser/api/url_sanitizer/url_sanitizer_service+private.h
  ios/browser/api/url_sanitizer/url_sanitizer_service.h
  ios/browser/api/url_sanitizer/url_sanitizer_service.mm
  ios/browser/brave_privacy/BUILD.gn
  ios/browser/brave_privacy/brave_privacy_factory_wrappers.h
  ios/browser/brave_privacy/brave_privacy_factory_wrappers.mm
  ios/browser/browser_state/BUILD.gn
  ios/browser/browser_state/brave_browser_process.mm
  ios/browser/browser_state/brave_browser_state_keyed_service_factories.cc
  ios/browser/url_sanitizer/BUILD.gn
  ios/browser/url_sanitizer/url_sanitizer_service_factory.h
  ios/browser/url_sanitizer/url_sanitizer_service_factory.mm
Owners: none

.github/CODEOWNERS:

patches/ @bridiver
chromium_src/ @bridiver
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
vendor/brave-ios/ @kylehickinson
/README.md @bsclifton
Jenkinsfile @mihaiplesa

# Rewards
vendor/bat-native-ledger/ @NejcZdovc
components/brave_rewards/ @NejcZdovc
components/services/bat_ledger/ @NejcZdovc
browser/ui/webui/brave_rewards_ui.h @NejcZdovc
browser/ui/webui/brave_rewards_ui.cc @NejcZdovc

# Ads
vendor/bat-native-ads/ @tmancey
vendor/bat-native-confirmations/ @tmancey
components/brave_ads/ @tmancey
components/services/bat_ads/ @tmancey

# Network
browser/net/ @iefremov
