Repository 073x/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @bsclifton, @kylehickinson, @mihaiplesa, @NejcZdovc, @tmancey, @iefremov

Update from Chromium 116.0.5845.82 to Chromium 117.0.5938.0.
  package.json
Owners: none

kFedCmIframeSupport/kFedCmUserInfo deleted upstream
  app/brave_main_delegate_browsertest.cc
  chromium_src/content/public/common/content_features.cc
Owners: @bridiver

Padding arg added to `AddDecoration`
  chromium_src/chrome/browser/ui/views/location_bar/location_bar_view.cc
Owners: @bridiver

Upstream 10Glass references removed
  browser/ui/views/frame/brave_browser_view.cc
  browser/ui/views/frame/brave_tabs_search_button_browsertest.cc
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/tabs/vertical_tab_utils.cc
  chromium_src/chrome/browser/ui/views/frame/browser_caption_button_container_win.cc
Owners: @bridiver

Migrate to use `ColorProviderKey`
  browser/themes/brave_private_window_theme_supplier.cc
  browser/themes/brave_private_window_theme_supplier.h
  browser/ui/color/brave_color_mixer.cc
  browser/ui/color/brave_color_mixer.h
  browser/ui/color/playlist/playlist_color_mixer.cc
  browser/ui/color/playlist/playlist_color_mixer.h
  browser/ui/tabs/brave_vertical_tab_color_mixer.cc
  browser/ui/tabs/brave_vertical_tab_color_mixer.h
  browser/ui/views/brave_actions/brave_rewards_action_view.cc
  browser/ui/views/brave_actions/brave_shields_action_view.cc
  browser/ui/views/frame/brave_browser_frame.cc
  browser/ui/views/frame/brave_browser_frame.h
  browser/ui/views/toolbar/wallet_button.cc
  chromium_src/chrome/browser/ui/cocoa/first_run_dialog_controller.mm
  chromium_src/chrome/browser/ui/color/chrome_color_mixer.cc
  chromium_src/chrome/browser/ui/color/omnibox_color_mixer.cc
  chromium_src/ui/color/core_default_color_mixer.cc
  chromium_src/ui/color/mac/native_color_mixers_mac.mm
  chromium_src/ui/color/ui_color_mixer.cc
Owners: @bridiver

Use `TabStyleViews::CalculateTargetColors`
  browser/ui/views/tabs/brave_tab_style_views.inc.cc
Owners: none

`GetSettingsForOneType` returning results
  browser/browsing_data/brave_browsing_data_remover_delegate.cc
  browser/browsing_data/brave_browsing_data_remover_delegate_unittest.cc
  chromium_src/components/content_settings/core/browser/content_settings_utils.cc
  components/brave_shields/browser/brave_shields_util.cc
  components/content_settings/renderer/brave_content_settings_agent_impl_browsertest.cc
  components/ephemeral_storage/ephemeral_storage_service.cc
  components/permissions/contexts/brave_wallet_permission_context.cc
Owners: @bridiver

`CloseWebContentsAt` returns void
  browser/ephemeral_storage/blob_url_browsertest.cc
  browser/ephemeral_storage/ephemeral_storage_browsertest.cc
  browser/ephemeral_storage/ephemeral_storage_qa_browsertest.cc
Owners: none

UsbChooserController constructor updated
  browser/farbling/brave_navigator_usb_farbling_browsertest.cc
Owners: none

Pre-empting std replacements on bitcoin-core
  chromium_src/brave/third_party/bitcoin-core/src/src/serialize.h
Owners: @bridiver

Remove TabStrip::GetTabBackgroundColor
  browser/ui/views/tabs/brave_tab_strip.cc
  browser/ui/views/tabs/brave_tab_strip.h
  browser/ui/views/tabs/brave_tab_style_views.inc.cc
Owners: none

Moving `BraveOmniboxResultView` instantiation
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_row_view.cc
  patches/chrome-browser-ui-views-omnibox-omnibox_popup_view_views.cc.patch
Owners: @bridiver

`chrome/browser/ui` using ARC
  browser/ui/BUILD.gn
  chromium_src/chrome/browser/ui/cocoa/first_run_dialog_controller.mm
  chromium_src/chrome/browser/ui/webui/help/version_updater_mac.mm
Owners: @bridiver

`EventListenerMap::Add` taking `**` listener pointers
  chromium_src/third_party/blink/renderer/core/dom/events/event_listener_map.cc
  chromium_src/third_party/blink/renderer/core/dom/events/event_listener_map.h
  chromium_src/third_party/blink/renderer/core/dom/events/event_target.cc
Owners: @bridiver

IWYU fixes for `notification_service.h`
  browser/debounce/debounce_browsertest.cc
  browser/favicon/favicon_database_browsertest.cc
  browser/net/brave_site_hacks_network_delegate_helper_browsertest.cc
  components/de_amp/browser/test/de_amp_browsertest.cc
Owners: @iefremov

Correct accessors uses for `OmniboxEditModel`
  browser/ui/views/omnibox/brave_omnibox_result_view.cc
  browser/ui/views/omnibox/omnibox_autocomplete_browsertest.cc
  chromium_src/components/omnibox/browser/omnibox_edit_model.cc
  chromium_src/components/omnibox/browser/omnibox_view.cc
  patches/components-omnibox-browser-omnibox_view.cc.patch
Owners: @bridiver

[rust] Fix usused return errors for Speedreader
  components/speedreader/rust/ffi/speedreader.rs
Owners: none

Fix `kAutofillWalletImportEnabled`-related overrides
  browser/brave_profile_prefs.cc
  chromium_src/components/autofill/core/browser/autofill_experiments.cc
  chromium_src/components/autofill/core/browser/autofill_experiments_unittest.cc
  components/sync/service/brave_sync_service_impl.cc
  components/sync/service/brave_sync_service_impl.h
Owners: @bridiver

Common pref names now constexpr
  chromium_src/chrome/common/pref_names.cc
  chromium_src/chrome/common/pref_names.h
Owners: @bridiver

Initialising `SyncSessionDurationsMetricsRecorder` members
  chromium_src/components/sync/service/sync_session_durations_metrics_recorder.cc
Owners: @bridiver

Overriding `OmniboxPopupViewViews::GetTargetBounds`
  chromium_src/chrome/browser/ui/views/omnibox/omnibox_popup_view_views.h
Owners: @bridiver

`license.py` expects list of license paths
  script/brave_license_helper.py
Owners: none

[ios] Removing unused `chromium_find_in_page` provider
  ios/browser/providers/BUILD.gn
Owners: none

`kSharedHighlightingAmp` deleted upstream
  app/brave_main_delegate_browsertest.cc
  chromium_src/components/shared_highlighting/core/common/shared_highlighting_features.cc
  patches/components-shared_highlighting-core-common-disabled_sites.cc.patch
Owners: @bridiver

Fixing -Wformat conversion failures
  components/brave_rewards/core/database/database_activity_info.cc
  components/brave_rewards/core/database/database_balance_report.cc
  components/brave_rewards/core/database/database_contribution_info.cc
  ios/browser/api/brave_rewards/brave_rewards_api.mm
Owners: @NejcZdovc

`PerFrameTranslateAgent` override not needed anymore
  patches/components-translate-content-renderer-per_frame_translate_agent.cc.patch
Owners: @bridiver

Remove redundant `NavigationManagerImpl` delegate setting
  ios/browser/api/web/web_state/web_state_native.h
  ios/browser/api/web/web_state/web_state_native.mm
Owners: none

Specific permisison prompts removed
  chromium_src/components/permissions/permission_request.cc
Owners: @bridiver

Adjust `RecentTabsSubMenuModel` override call
  chromium_src/chrome/browser/ui/toolbar/recent_tabs_sub_menu_model.cc
Owners: @bridiver

Incrementing resource_id values
  resources/resource_ids.spec
Owners: none

[WIP] kPageInfoCookiesSubpage flag removed
  app/brave_main_delegate_browsertest.cc
  chromium_src/components/page_info/core/features.cc
  test/filters/browser_tests.filter
  test/filters/unit_tests.filter
Owners: @bridiver

Extensions store changed to Discover More
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.html
  browser/resources/settings/brave_default_extensions_page/brave_default_extensions_page.ts
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
Owners: none

Accomodating `TabSearchButton` changes
  browser/ui/views/frame/vertical_tab_strip_region_view.cc
  browser/ui/views/tabs/brave_tab_search_button.cc
  browser/ui/views/tabs/brave_tab_search_button.h
  chromium_src/chrome/browser/ui/views/tabs/tab_search_button.h
Owners: @bridiver

`BasicStringPiece` a typedef to `string_view`
  sandbox/win/src/module_file_name_interception.cc
Owners: none

Romove unused `top500_domains` dependency
  ios/browser/api/url/BUILD.gn
Owners: none

Fix rust relative path for third party libraries
  patches/build-rust-rust_target.gni.patch
Owners: @bridiver

[Android] Rename baseline neutral colors
  android/features/tab_ui/java/src/org/chromium/chrome/browser/tasks/tab_management/BraveTabUiThemeProvider.java
  android/java/res/drawable/web_notification_small_icon_background.xml
Owners: none

Fix trace method `BatteryManager` dummy
  chromium_src/third_party/blink/renderer/modules/battery/battery_manager.cc
Owners: @bridiver

[WIP] Providing `kFamilyGroupSiteURL` url
  chromium_src/chrome/common/url_constants.cc
Owners: @bridiver

[Android] Reduce usage of getLastUsedRegularProfile in FirstRun
  android/java/org/chromium/chrome/browser/firstrun/BraveFirstRunFlowSequencer.java
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnParentActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnPlansActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnProfileActivity.java
  android/java/org/chromium/chrome/browser/vpn/activities/BraveVpnSupportActivity.java
Owners: none

.github/CODEOWNERS:

patches/ @bridiver
chromium_src/ @bridiver
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
vendor/brave-ios/ @kylehickinson
/README.md @bsclifton
Jenkinsfile @mihaiplesa

# Rewards
vendor/bat-native-ledger/ @NejcZdovc
components/brave_rewards/ @NejcZdovc
components/services/bat_ledger/ @NejcZdovc
browser/ui/webui/brave_rewards_ui.h @NejcZdovc
browser/ui/webui/brave_rewards_ui.cc @NejcZdovc

# Ads
vendor/bat-native-ads/ @tmancey
vendor/bat-native-confirmations/ @tmancey
components/brave_ads/ @tmancey
components/services/bat_ads/ @tmancey

# Network
browser/net/ @iefremov
