Repository 073x/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @bsclifton, @kylehickinson, @mihaiplesa, @NejcZdovc, @tmancey, @iefremov

.github/CODEOWNERS:

patches/ @bridiver
chromium_src/ @bridiver
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
vendor/brave-ios/ @kylehickinson
/README.md @bsclifton
Jenkinsfile @mihaiplesa

# Rewards
vendor/bat-native-ledger/ @NejcZdovc
components/brave_rewards/ @NejcZdovc
components/services/bat_ledger/ @NejcZdovc
browser/ui/webui/brave_rewards_ui.h @NejcZdovc
browser/ui/webui/brave_rewards_ui.cc @NejcZdovc

# Ads
vendor/bat-native-ads/ @tmancey
vendor/bat-native-confirmations/ @tmancey
components/brave_ads/ @tmancey
components/services/bat_ads/ @tmancey

# Network
browser/net/ @iefremov

IWYU fixes
  browser/brave_wallet/brave_wallet_service_unittest.cc
Owners: none

`ParsedCookie` added block truncated argument
  components/brave_vpn/browser/brave_vpn_service.cc
Owners: none

Update from Chromium 117.0.5938.0 to Chromium 118.0.5941.1.
  package.json
Owners: none

Use `IsSyncFeatureEnabled` from `SyncService`
  ios/browser/api/sync/brave_sync_worker.cc
Owners: none

Update from Chromium 117.0.5938.0 to Chromium 118.0.5943.1.
  package.json
Owners: none

Conflict-resolved patches from Chromium 117.0.5938.0 to Chromium 118.0.5943.1.
  patches/chrome-VERSION.patch
Owners: @bridiver

Updated strings for Chromium 118.0.5943.1.
  app/bookmarks_strings.grdp
  app/brave_strings.grd
  app/brave_strings_override.grd
  app/generated_resources.grd
  app/os_settings_search_tag_strings.grdp
  app/os_settings_strings.grdp
  app/settings_brave_strings.grdp
  app/settings_strings.grdp
  browser/ui/android/strings/android_chrome_strings.grd
  components/management_strings.grdp
  components/media_message_center_strings.grdp
  components/page_info_strings.grdp
Owners: none

wip
  browser/brave_vpn/win/brave_vpn_wireguard_service/status_tray/BUILD.gn
  browser/brave_vpn/win/brave_vpn_wireguard_service/status_tray/notification_utils.cc
  browser/brave_vpn/win/brave_vpn_wireguard_service/status_tray/notification_utils.h
  browser/brave_vpn/win/brave_vpn_wireguard_service/status_tray/status_tray_runner.cc
Owners: none

Cleanup Brave Ads unittest prefs
  components/brave_ads/core/internal/account/confirmations/user_data_builder/confirmation_user_data_builder_unittest_util.cc
  components/brave_ads/core/internal/account/issuers/issuers_util_unittest.cc
  components/brave_ads/core/internal/account/statement/statement_util_unittest.cc
  components/brave_ads/core/internal/account/tokens/redeem_payment_tokens/redeem_payment_tokens_unittest.cc
  components/brave_ads/core/internal/account/user_data/dynamic/diagnostic_id_user_data_unittest.cc
  components/brave_ads/core/internal/ads/notification_ad_handler_util_should_serve_at_regular_intervals_unittest.cc
  components/brave_ads/core/internal/ads/serving/eligible_ads/exclusion_rules/subdivision_targeting_exclusion_rule_unittest.cc
  components/brave_ads/core/internal/catalog/catalog_util_unittest.cc
  components/brave_ads/core/internal/common/unittest/README.md
  components/brave_ads/core/internal/common/unittest/unittest_base.cc
  components/brave_ads/core/internal/common/unittest/unittest_base.h
  components/brave_ads/core/internal/common/unittest/unittest_base_util.cc
  components/brave_ads/core/internal/common/unittest/unittest_base_util.h
  components/brave_ads/core/internal/common/unittest/unittest_command_line_switch_util.cc
  components/brave_ads/core/internal/common/unittest/unittest_command_line_switch_util.h
  components/brave_ads/core/internal/common/unittest/unittest_constants.h
  components/brave_ads/core/internal/common/unittest/unittest_mock_util.cc
  components/brave_ads/core/internal/common/unittest/unittest_mock_util_constants.h
  components/brave_ads/core/internal/common/unittest/unittest_pref.cc
  components/brave_ads/core/internal/common/unittest/unittest_pref.h
  components/brave_ads/core/internal/common/unittest/unittest_pref_info.cc
  components/brave_ads/core/internal/common/unittest/unittest_pref_info.h
  components/brave_ads/core/internal/common/unittest/unittest_pref_registry.cc
  components/brave_ads/core/internal/common/unittest/unittest_pref_registry.h
  components/brave_ads/core/internal/common/unittest/unittest_pref_registry_util.cc
  components/brave_ads/core/internal/common/unittest/unittest_pref_registry_util.h
  components/brave_ads/core/internal/common/unittest/unittest_pref_util.cc
  components/brave_ads/core/internal/common/unittest/unittest_pref_util.h
  components/brave_ads/core/internal/diagnostics/entries/device_id_diagnostic_entry_unittest.cc
  components/brave_ads/core/internal/geographic/subdivision_targeting/subdivision_targeting_unittest.cc
  components/brave_ads/core/internal/legacy_migration/client/legacy_client_migration_issue_23794_unittest.cc
  components/brave_ads/core/internal/legacy_migration/client/legacy_client_migration_unittest.cc
  components/brave_ads/core/internal/legacy_migration/client/legacy_client_migration_util_unittest.cc
  components/brave_ads/core/internal/legacy_migration/confirmations/legacy_confirmation_migration_unittest.cc
  components/brave_ads/core/internal/legacy_migration/confirmations/legacy_confirmation_migration_util_unittest.cc
  components/brave_ads/core/internal/legacy_migration/rewards/legacy_rewards_migration_issue_25384_unittest.cc
  components/brave_ads/core/internal/settings/settings_unittest.cc
  components/brave_ads/core/internal/settings/settings_unittest_util.cc
  components/brave_ads/core/test/BUILD.gn
Owners: @tmancey

Added custom tooltip
  components/ai_chat/resources/page/components/site_title/index.tsx
  components/ai_chat/resources/page/components/site_title/style.module.scss
Owners: none

Strings are localized
  components/ai_chat/browser/constants.cc
  components/ai_chat/resources/page/components/site_title/index.tsx
  components/ai_chat/resources/page/stories/locale.ts
  components/resources/ai_chat_ui_strings.grdp
Owners: none

Added disconnect and erase actions to AIChat
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.cc
  browser/ui/webui/ai_chat/ai_chat_ui_page_handler.h
  components/ai_chat/browser/ai_chat_api.cc
  components/ai_chat/browser/ai_chat_api.h
  components/ai_chat/browser/ai_chat_tab_helper.cc
  components/ai_chat/browser/ai_chat_tab_helper.h
  components/ai_chat/common/mojom/ai_chat.mojom
  components/ai_chat/resources/page/chat_ui.tsx
  components/ai_chat/resources/page/components/main/index.tsx
  components/ai_chat/resources/page/components/main/style.module.scss
  components/ai_chat/resources/page/components/site_title/index.tsx
  components/ai_chat/resources/page/components/site_title/style.module.scss
  components/api_request_helper/api_request_helper.cc
  components/api_request_helper/api_request_helper.h
  ui/webui/resources/BUILD.gn
Owners: none

Fix for review
  components/query_filter/DEPS
  components/query_filter/utils.h
  ios/browser/api/query_filter/BUILD.gn
  ios/browser/api/query_filter/headers.gni
  ios/browser/api/query_filter/query_filter_utils.h
  ios/browser/api/query_filter/utils.h
  ios/browser/api/query_filter/utils.mm
Owners: none

Fix unit test import
  components/query_filter/utils_unittest.cc
Owners: none

Remove test import
  components/query_filter/utils_unittest.cc
Owners: none

Address feedback
  components/brave_federated/adapters/flower_helper.cc
  components/brave_federated/adapters/flower_helper_unittest.cc
  components/brave_federated/brave_federated_service.cc
  components/brave_federated/brave_federated_service.h
  components/brave_federated/communication_adapter.cc
  components/brave_federated/communication_adapter.h
  components/brave_federated/config_utils.cc
  components/brave_federated/config_utils.h
  components/brave_federated/data_stores/data_store.cc
  components/brave_federated/eligibility_service.cc
  components/brave_federated/eligibility_service.h
  components/brave_federated/eligibility_service_observer.h
  components/brave_federated/features.cc
  components/brave_federated/learning_service.cc
  components/brave_federated/learning_service.h
  components/brave_federated/task/federated_task_handler.cc
  components/brave_federated/task/federated_task_handler.h
  components/brave_federated/task/model.cc
  components/brave_federated/task/model.h
  components/brave_federated/task/model_unittest.cc
  components/brave_federated/task/typing.cc
  components/brave_federated/task/typing.h
  components/brave_federated/util/linear_algebra_util.cc
  components/brave_federated/util/linear_algebra_util.h
  components/brave_federated/util/linear_algebra_util_unittest.cc
  components/brave_federated/util/synthetic_dataset.cc
  components/brave_federated/util/synthetic_dataset.h
Owners: none

Block onion domain subresource requests in non Tor context
  browser/net/BUILD.gn
  browser/profiles/brave_renderer_updater.cc
  browser/tor/BUILD.gn
  browser/tor/onion_domain_throttle_browsertest.cc
  common/brave_renderer_configuration.mojom
  components/tor/onion_location_navigation_throttle.cc
  components/tor/renderer/BUILD.gn
  components/tor/renderer/DEPS
  components/tor/renderer/onion_domain_throttle.cc
  components/tor/renderer/onion_domain_throttle.h
  components/tor/tor_constants.h
  renderer/brave_content_renderer_client.cc
  renderer/brave_content_renderer_client.h
  renderer/brave_render_thread_observer.cc
  renderer/brave_render_thread_observer.h
  renderer/brave_url_loader_throttle_provider_impl.cc
  renderer/brave_url_loader_throttle_provider_impl.h
  renderer/sources.gni
Owners: @iefremov

Enable testing Tor window with normal network stack in order to interact with embedded test server
  browser/brave_content_browser_client_browsertest.cc
  browser/net/BUILD.gn
  browser/net/brave_site_hacks_network_delegate_helper_browsertest.cc
  browser/tor/BUILD.gn
  browser/tor/onion_domain_throttle_browsertest.cc
  browser/tor/onion_location_navigation_throttle_browsertest.cc
  browser/ui/views/location_bar/onion_location_view.cc
  components/tor/onion_location_navigation_throttle.cc
  components/tor/onion_location_navigation_throttle.h
  components/tor/tor_navigation_throttle.cc
  components/tor/tor_navigation_throttle.h
  net/proxy_resolution/proxy_config_service_tor.cc
  net/proxy_resolution/proxy_config_service_tor.h
Owners: @iefremov

Unify onion domain check
  chromium_src/net/base/url_util.cc
  components/tor/onion_location_navigation_throttle.cc
  components/tor/renderer/BUILD.gn
  components/tor/renderer/onion_domain_throttle.cc
  components/tor/tor_constants.h
Owners: @bridiver
