Repository 073x/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @bsclifton, @kylehickinson, @mihaiplesa, @NejcZdovc, @tmancey, @iefremov

Add `URLSanitizerServiceFactory`
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/api/brave_shields/BUILD.gn
  ios/browser/local_data_file_service/BUILD.gn
  ios/browser/local_data_file_service/headers.gni
  ios/browser/local_data_file_service/local_data_file_service+private.h
  ios/browser/local_data_file_service/local_data_file_service.h
  ios/browser/local_data_file_service/local_data_file_service.mm
  ios/browser/url_sanitizer/BUILD.gn
  ios/browser/url_sanitizer/url_sanitizer_service_factory.h
  ios/browser/url_sanitizer/url_sanitizer_service_factory.mm
Owners: none

Add singleton
  ios/app/BUILD.gn
  ios/app/brave_core_main.mm
  ios/browser/brave_privacy/BUILD.gn
  ios/browser/brave_privacy/brave_privacy_factory_wrappers.h
  ios/browser/brave_privacy/brave_privacy_factory_wrappers.mm
  ios/browser/brave_privacy/url_sanitizer_service_factory.h
  ios/browser/brave_privacy/url_sanitizer_service_factory.mm
  ios/browser/browser_state/BUILD.gn
  ios/browser/browser_state/brave_browser_process.h
  ios/browser/browser_state/brave_browser_process.mm
  ios/browser/browser_state/brave_browser_state_keyed_service_factories.cc
  ios/browser/local_data_file_service/headers.gni
  ios/browser/url_sanitizer/url_sanitizer_service_factory.h
  ios/browser/url_sanitizer/url_sanitizer_service_factory.mm
Owners: none

Fix for review
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/api/local_data_file_service/local_data_file_service_wrapper+private.h
  ios/browser/component_updater/BUILD.gn
  ios/browser/component_updater/ios_component_installer_policy.cc
  ios/browser/component_updater/ios_component_installer_policy.h
  ios/browser/local_data_file_service/BUILD.gn
  ios/browser/local_data_file_service/headers.gni
  ios/browser/local_data_file_service/local_data_file_service+private.h
  ios/browser/local_data_file_service/local_data_file_service.h
  ios/browser/local_data_file_service/local_data_file_service.mm
  ios/browser/local_data_file_service/local_data_file_service_installer_delegate.h
  ios/browser/local_data_file_service/local_data_file_service_installer_delegate.mm
Owners: none

Add local data file service
  browser/component_updater/brave_component_updater_delegate.cc
  components/brave_component_updater/browser/brave_component.cc
  components/brave_component_updater/browser/brave_component.h
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/brave_core_main.h
  ios/app/brave_core_main.mm
  ios/browser/api/local_data_file_service/BUILD.gn
  ios/browser/api/local_data_file_service/headers.gni
  ios/browser/api/local_data_file_service/local_data_file_service_installer_delegate.h
  ios/browser/api/local_data_file_service/local_data_file_service_installer_delegate.mm
  ios/browser/api/local_data_file_service/local_data_file_service_installer_policy.cc
  ios/browser/api/local_data_file_service/local_data_file_service_installer_policy.h
  ios/browser/api/local_data_file_service/local_data_file_service_wrapper+private.h
  ios/browser/api/local_data_file_service/local_data_file_service_wrapper.h
  ios/browser/api/local_data_file_service/local_data_file_service_wrapper.mm
Owners: none

Undo unnecessary changes
  components/brave_component_updater/browser/brave_component.cc
  ios/browser/api/brave_shields/BUILD.gn
Owners: none

Start local data files service
  ios/browser/api/url_sanitizer/BUILD.gn
  ios/browser/api/url_sanitizer/url_sanitizer_service.mm
  ios/browser/browser_state/brave_browser_process.mm
Owners: none

Fix linting
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/app/brave_core_main.mm
  ios/browser/api/url_sanitizer/headers.gni
  ios/browser/api/url_sanitizer/url_sanitizer_service+private.h
  ios/browser/api/url_sanitizer/url_sanitizer_service.h
  ios/browser/api/url_sanitizer/url_sanitizer_service.mm
  ios/browser/url_sanitizer/url_sanitizer_service_factory.h
Owners: none

Remove component_id from component updater delegate
  browser/component_updater/brave_component_updater_delegate.cc
  components/brave_component_updater/browser/brave_component.cc
  components/brave_component_updater/browser/brave_component.h
  ios/browser/component_updater/BUILD.gn
  ios/browser/component_updater/ios_component_installer_policy.cc
  ios/browser/component_updater/ios_component_installer_policy.h
  ios/browser/local_data_file_service/local_data_file_service_installer_delegate.h
  ios/browser/local_data_file_service/local_data_file_service_installer_delegate.mm
Owners: none

Add inherited BraveApplicationContextImpl file
  ios/browser/BUILD.gn
  ios/browser/application_context/BUILD.gn
  ios/browser/application_context/brave_application_context_impl.h
  ios/browser/application_context/brave_application_context_impl.mm
  ios/browser/brave_web_main_parts.mm
  ios/browser/browser_state/BUILD.gn
  ios/browser/browser_state/brave_browser_process.h
  ios/browser/url_sanitizer/BUILD.gn
  ios/browser/url_sanitizer/url_sanitizer_service_factory.mm
Owners: none

Fix for review
  ios/app/brave_core_main.mm
  ios/browser/url_sanitizer/url_sanitizer_service_factory.h
  ios/browser/url_sanitizer/url_sanitizer_service_factory.mm
Owners: none

Fix for review
  ios/browser/api/url_sanitizer/url_sanitizer_service.h
  ios/browser/api/url_sanitizer/url_sanitizer_service.mm
  ios/browser/component_updater/ios_component_installer_policy.cc
Owners: none

Fix for review
  ios/app/brave_core_main.h
  ios/browser/api/url_sanitizer/BUILD.gn
  ios/browser/api/url_sanitizer/headers.gni
  ios/browser/api/url_sanitizer/url_sanitizer_service+private.h
  ios/browser/api/url_sanitizer/url_sanitizer_service.h
  ios/browser/api/url_sanitizer/url_sanitizer_service.mm
  ios/browser/application_context/BUILD.gn
  ios/browser/application_context/brave_application_context_impl.h
  ios/browser/application_context/brave_application_context_impl.mm
  ios/browser/browser_state/BUILD.gn
  ios/browser/browser_state/brave_browser_state_keyed_service_factories.cc
  ios/browser/component_updater/ios_component_installer_policy.cc
  ios/browser/component_updater/ios_component_installer_policy.h
  ios/browser/local_data_file_service/BUILD.gn
  ios/browser/local_data_file_service/headers.gni
  ios/browser/local_data_file_service/local_data_file_service_installer_delegate.h
  ios/browser/local_data_file_service/local_data_file_service_installer_delegate.mm
  ios/browser/url_sanitizer/BUILD.gn
  ios/browser/url_sanitizer/url_sanitizer_service_factory.h
Owners: none

fix ci
  components/brave_wallet/browser/ethereum_provider_impl.cc
  components/brave_wallet/browser/ethereum_provider_impl.h
  components/brave_wallet_ui/common/slices/api-slice-extras-tests/use-account-query.test.ts
Owners: none

rename back to from_address
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/brave_wallet/notifications/wallet_notification_service.cc
  browser/brave_wallet/send_or_sign_transaction_browsertest.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  components/brave_wallet/browser/eth_tx_meta_unittest.cc
  components/brave_wallet/browser/fil_tx_meta_unittest.cc
  components/brave_wallet/browser/simulation_request_helper.cc
  components/brave_wallet/browser/simulation_request_helper_unittest.cc
  components/brave_wallet/browser/solana_provider_impl.cc
  components/brave_wallet/browser/solana_tx_meta_unittest.cc
  components/brave_wallet/common/brave_wallet.mojom
  components/brave_wallet_ui/common/constants/mocks.ts
  components/brave_wallet_ui/components/extension/transaction-detail-panel/index.tsx
  components/brave_wallet_ui/components/extension/transaction-list-item/index.tsx
  components/brave_wallet_ui/stories/mock-data/mock-transaction-info.ts
  components/brave_wallet_ui/stories/wallet-extension-panels.tsx
  components/brave_wallet_ui/utils/tx-utils.ts
Owners: none

fix for android
  android/java/org/chromium/chrome/browser/app/domain/TransactionsModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AccountDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/AssetDetailActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/activities/BraveWalletDAppsActivity.java
  android/java/org/chromium/chrome/browser/crypto_wallet/adapters/WalletCoinAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/ApproveTxBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/PortfolioFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TransactionDetailsSheetFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TransactionsFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/TxFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/EncryptionKeyFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignMessageFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/fragments/dapps/SignTransactionFragment.java
  android/java/org/chromium/chrome/browser/crypto_wallet/model/WalletListItemModel.java
  android/java/org/chromium/chrome/browser/crypto_wallet/observers/ApprovedTxObserver.java
  android/java/org/chromium/chrome/browser/crypto_wallet/permission/BravePermissionAccountsListAdapter.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransaction.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/ParsedTransactionFees.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  components/brave_wallet/browser/test_utils.cc
  components/brave_wallet_ui/utils/tx-utils.ts
Owners: none

fix ci
  components/brave_wallet_ui/common/wallet_api_proxy_observers.ts
Owners: none

cleanup
  android/java/org/chromium/chrome/browser/crypto_wallet/util/PendingTxHelper.java
  browser/brave_wallet/ethereum_provider_impl_unittest.cc
  browser/brave_wallet/notifications/wallet_notification_service.cc
  browser/brave_wallet/solana_provider_browsertest.cc
  components/brave_wallet/browser/BUILD.gn
  components/brave_wallet/browser/test_utils.cc
  components/brave_wallet_ui/components/extension/encryption-key-panel/index.tsx
  components/brave_wallet_ui/components/extension/encryption-key-panel/style.ts
  components/brave_wallet_ui/panel/async/wallet_panel_async_handler.ts
  components/brave_wallet_ui/panel/container.tsx
  components/brave_wallet_ui/utils/account-utils.ts
  components/brave_wallet_ui/utils/tx-utils.ts
Owners: none

Sort some DEPS
  components/constants/DEPS
Owners: none

Fix compile error
  components/constants/DEPS
  components/constants/network_constants.h
Owners: none

Move function into anonymous namespace
  browser/widevine/widevine_utils.cc
Owners: none

Fix another compile error
  chromium_src/chrome/browser/component_updater/widevine_cdm_component_installer.cc
  components/widevine/static_buildflags.h
Owners: @bridiver

Avoid unnecessary patch
  chromium_src/chrome/browser/component_updater/registration.cc
  chromium_src/chrome/browser/component_updater/widevine_cdm_component_installer.h
  patches/chrome-browser-component_updater-registration.cc.patch
Owners: @bridiver

Move some constants into the global namespace
  chromium_src/chrome/browser/component_updater/widevine_cdm_component_installer.cc
Owners: @bridiver

Use constexpr for constants
  chromium_src/chrome/browser/component_updater/widevine_cdm_component_installer.cc
Owners: @bridiver

Improve macro name
  chromium_src/base/threading/thread_restrictions.h
Owners: @bridiver

Fix layer violation
  browser/brave_drm_tab_helper.cc
  browser/net/brave_static_redirect_network_delegate_helper.cc
  browser/widevine/widevine_permission_request_browsertest.cc
  browser/widevine/widevine_utils.cc
  chromium_src/base/threading/DEPS
  chromium_src/base/threading/thread_restrictions.h
  chromium_src/chrome/browser/component_updater/registration.cc
  chromium_src/chrome/browser/component_updater/widevine_cdm_component_installer.cc
  chromium_src/chrome/browser/component_updater/widevine_cdm_component_installer.h
  chromium_src/components/update_client/DEPS
  chromium_src/components/update_client/persisted_data.h
  chromium_src/components/update_client/protocol_serializer.cc
  chromium_src/components/update_client/update_checker.cc
  chromium_src/components/update_client/update_checker.h
  components/widevine/constants.h
  components/widevine/static_buildflags.h
Owners: @iefremov, @bridiver

Add comment
  chromium_src/base/threading/DEPS
Owners: @bridiver

Rename header file
  browser/net/brave_static_redirect_network_delegate_helper.cc
  browser/widevine/static_buildflags.h
  browser/widevine/widevine_utils.cc
  chromium_src/base/threading/DEPS
  chromium_src/base/threading/thread_restrictions.h
  chromium_src/chrome/browser/component_updater/registration.cc
  chromium_src/chrome/browser/component_updater/widevine_cdm_component_installer.cc
  chromium_src/chrome/browser/component_updater/widevine_cdm_component_installer.h
  chromium_src/components/update_client/DEPS
  chromium_src/components/update_client/persisted_data.h
  chromium_src/components/update_client/protocol_serializer.cc
  chromium_src/components/update_client/update_checker.h
Owners: @iefremov, @bridiver

Fix compile errors caused by upstream changes
  chromium_src/chrome/browser/component_updater/widevine_cdm_component_installer.cc
Owners: @bridiver

Add support for Arm64 Widevine on Windows
  browser/net/brave_static_redirect_network_delegate_helper.cc
  browser/widevine/README.md
  browser/widevine/buildflags.h
  browser/widevine/constants.h
  browser/widevine/widevine_utils.cc
  chromium_src/base/threading/DEPS
  chromium_src/base/threading/thread_restrictions.h
  chromium_src/chrome/browser/component_updater/widevine_cdm_component_installer.cc
  chromium_src/chrome/browser/component_updater/widevine_cdm_component_installer.h
  chromium_src/components/update_client/DEPS
  chromium_src/components/update_client/persisted_data.h
  chromium_src/components/update_client/protocol_serializer.cc
  chromium_src/components/update_client/update_checker.cc
  chromium_src/components/update_client/update_checker.h
  chromium_src/extensions/common/constants.cc
  chromium_src/extensions/common/constants.h
  components/constants/network_constants.cc
  components/constants/network_constants.h
  patches/chrome-browser-component_updater-registration.cc.patch
Owners: @iefremov, @bridiver

Uplift of #19605 (squashed) to beta
  android/java/org/chromium/chrome/browser/privacy/settings/BravePrivacySettings.java
  android/java/org/chromium/chrome/browser/toolbar/top/BraveToolbarLayoutImpl.java
  android/java/res/layout/block_cookie_consent_notices_tooltip.xml
  android/javatests/org/chromium/chrome/browser/privacy/settings/BravePrivacySettingsTest.java
  browser/ui/android/strings/android_brave_strings.grd
Owners: none

Use OneShotEvent for deferring RewardsEngine calls
  components/brave_rewards/core/rewards_engine_impl.cc
  components/brave_rewards/core/rewards_engine_impl.h
Owners: @NejcZdovc

Fix builds
  components/query_filter/DEPS
  ios/browser/api/url/url_utils.h
Owners: none

fix(wallet): DApp Settings Button Close
  components/brave_wallet_ui/components/extension/dapp-connection-settings/dapp-connection-settings.tsx
Owners: none

Move query filter utilities to another folder.
  components/query_filter/utils.cc
  ios/BUILD.gn
  ios/app/BUILD.gn
  ios/browser/api/query_filter/BUILD.gn
  ios/browser/api/query_filter/headers.gni
  ios/browser/api/query_filter/query_filter_utils.h
  ios/browser/api/query_filter/query_filter_utils.mm
  ios/browser/api/url/BUILD.gn
  ios/browser/api/url/url_utils.h
  ios/browser/api/url/url_utils.mm
Owners: none

move BraveComponentUpdaterDelegate and BraveComponentInstaller to components
  browser/brave_browser_process_impl.cc
  browser/component_updater/BUILD.gn
  browser/component_updater/brave_component_updater_configurator.cc
  browser/component_updater/brave_component_updater_configurator.h
  browser/component_updater/sources.gni
  browser/extensions/brave_component_loader.cc
  browser/sources.gni
  chromium_src/chrome/browser/component_updater/chrome_component_updater_configurator.cc
  components/brave_component_updater/browser/BUILD.gn
  components/brave_component_updater/browser/brave_component_installer.cc
  components/brave_component_updater/browser/brave_component_installer.h
  components/brave_component_updater/browser/brave_component_updater_delegate.cc
  components/brave_component_updater/browser/brave_component_updater_delegate.h
Owners: @bridiver

Refactor PrivacyHubMetrics Android remote into MiscAndroidMetrics, add metrics for search queries before churn
  android/brave_java_sources.gni
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_stats/BraveStatsUtil.java
  android/java/org/chromium/chrome/browser/misc_metrics/MiscAndroidMetricsConnectionErrorHandler.java
  android/java/org/chromium/chrome/browser/misc_metrics/MiscAndroidMetricsFactory.java
  android/java/org/chromium/chrome/browser/misc_metrics/PrivacyHubMetricsConnectionErrorHandler.java
  android/java/org/chromium/chrome/browser/omnibox/suggestions/BraveAutocompleteMediator.java
  android/java/org/chromium/chrome/browser/onboarding/OnboardingPrefManager.java
  browser/brave_local_state_prefs.cc
  browser/misc_metrics/misc_android_metrics.cc
  browser/misc_metrics/misc_android_metrics.h
  browser/misc_metrics/misc_android_metrics_factory.cc
  browser/misc_metrics/misc_android_metrics_factory.h
  browser/misc_metrics/misc_android_metrics_factory_android.cc
  browser/misc_metrics/privacy_hub_metrics_factory_android.cc
  browser/misc_metrics/sources.gni
  browser/search_engines/search_engine_tracker.cc
  browser/search_engines/search_engine_tracker.h
  browser/ui/android/omnibox/BUILD.gn
  browser/ui/omnibox/brave_omnibox_client_impl.cc
  browser/ui/omnibox/brave_omnibox_client_impl.h
  build/android/BUILD.gn
  chromium_src/components/omnibox/browser/omnibox_client.h
  chromium_src/components/omnibox/browser/omnibox_edit_model.cc
  components/brave_search_conversion/p3a.cc
  components/brave_search_conversion/p3a.h
  components/brave_search_conversion/p3a_unittest.cc
  components/brave_search_conversion/pref_names.h
  components/misc_metrics/common/misc_metrics.mojom
  components/misc_metrics/pref_names.cc
  components/misc_metrics/pref_names.h
  components/misc_metrics/privacy_hub_metrics.cc
  components/misc_metrics/privacy_hub_metrics.h
  components/p3a/metric_names.h
  patches/chrome-browser-ui-android-omnibox-java-src-org-chromium-chrome-browser-omnibox-suggestions-AutocompleteMediator.java.patch
Owners: @bridiver

Cleanup Brave Ads diagnostics
  components/brave_ads/core/internal/diagnostics/entries/opted_in_to_brave_news_ads_diagnostic_entry.cc
  components/brave_ads/core/internal/diagnostics/entries/opted_in_to_new_tab_page_ads_diagnostic_entry.cc
  components/brave_ads/core/internal/diagnostics/entries/opted_in_to_notification_ads_diagnostic_entry.cc
Owners: @tmancey

Cleanup Brave Ads base::Value usage
  components/brave_ads/core/internal/account/confirmations/payload/confirmation_payload_json_writer.cc
  components/brave_ads/core/internal/account/confirmations/payload/reward_confirmation_payload_util.cc
  components/brave_ads/core/internal/account/confirmations/reward/reward_credential_json_writer.cc
  components/brave_ads/core/internal/account/issuers/issuers_value_util.cc
  components/brave_ads/core/internal/account/tokens/redeem_payment_tokens/url_request_builders/redeem_payment_tokens_url_request_builder.cc
  components/brave_ads/core/internal/account/tokens/refill_confirmation_tokens/url_requests/request_signed_tokens/request_signed_tokens_url_request_builder.cc
  components/brave_ads/core/internal/account/user_data/fixed/catalog_user_data.cc
  components/brave_ads/core/internal/account/user_data/fixed/conversion_user_data.cc
  components/brave_ads/core/internal/account/user_data/fixed/conversion_user_data_util.cc
  components/brave_ads/core/internal/account/user_data/fixed/studies_user_data.cc
  components/brave_ads/core/internal/account/user_data/fixed/summary_user_data.cc
  components/brave_ads/core/internal/ads/inline_content_ad_value_util.cc
  components/brave_ads/core/internal/ads/new_tab_page_ad_value_util.cc
  components/brave_ads/core/internal/ads/notification_ad_value_util.cc
  components/brave_ads/core/internal/ads/promoted_content_ad_value_util.cc
  components/brave_ads/core/internal/diagnostics/diagnostic_value_util.cc
  components/brave_ads/core/internal/geographic/subdivision_targeting/supported_subdivisions.cc
  components/brave_ads/core/internal/history/ad_content_value_util.cc
  components/brave_ads/core/internal/history/category_content_value_util.cc
  components/brave_ads/core/internal/history/history_item_value_util.cc
  components/brave_ads/core/internal/privacy/tokens/confirmation_tokens/confirmation_tokens_value_util.cc
  components/brave_ads/core/internal/privacy/tokens/payment_tokens/payment_token_value_util.cc
  components/brave_ads/core/internal/processors/behavioral/multi_armed_bandits/epsilon_greedy_bandit_arm_value_util.cc
  components/brave_ads/core/internal/resources/behavioral/purchase_intent/purchase_intent_signal_history_value_util.cc
Owners: @tmancey

Parse popularity score
  components/brave_news/api/combined_feed.idl
  components/brave_news/browser/combined_feed_parsing.cc
  components/brave_news/common/brave_news.mojom
Owners: none

.github/CODEOWNERS:

patches/ @bridiver
chromium_src/ @bridiver
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
vendor/brave-ios/ @kylehickinson
/README.md @bsclifton
Jenkinsfile @mihaiplesa

# Rewards
vendor/bat-native-ledger/ @NejcZdovc
components/brave_rewards/ @NejcZdovc
components/services/bat_ledger/ @NejcZdovc
browser/ui/webui/brave_rewards_ui.h @NejcZdovc
browser/ui/webui/brave_rewards_ui.cc @NejcZdovc

# Ads
vendor/bat-native-ads/ @tmancey
vendor/bat-native-confirmations/ @tmancey
components/brave_ads/ @tmancey
components/services/bat_ads/ @tmancey

# Network
browser/net/ @iefremov
